<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/editor.css" />

    <script src="/editor/tab.js" defer></script>
  </head>
  <body>
    <h1>New Post</h1>

    <form id="content" method="POST" action="/blog/<%= token %> ">
      <input type="text" placeholder="Title" name="title" /><br />
      <textarea
        type="text"
        cols="80"
        rows="5"
        placeholder="Small Description"
        name="description"
      ></textarea>
      <!-- <label for="markdown_file">ethier upload a .md or write some markdown down below</label>
        <input type="file" name="markdown_file" id="" placeholder="readme file"> -->
      <textarea
        id="mainText"
        name="markdown"
        cols="80"
        rows="20"
        placeholder="Markdown..."
      ></textarea
      ><br />
      <input type="submit" value="Done" />
    </form>
  </body>
</html>
