<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/blog/<%= token %> ">
        <input type="text" placeholder="Title" name="title"><br>
        <textarea type="text" cols="80" rows="5" placeholder="Small Description" name="description"></textarea><br>
        <textarea name="markdown" cols="80" rows="40" placeholder="Markdown..."></textarea><br>
        <button type="submit">Done</button>
    </form>


</body>
</html>