.card-wrapper {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card-big {
    grid-column-end: span 4;
    min-height: 200px;
    border: 1px solid var(--ac3);
    border-radius: 5px;
    padding: 5px;
}

.card-medium {
    grid-column-end: span 2;
    min-height: 200px;
    border: 1px solid var(--ac3);
    border-radius: 5px;
    padding: 10px;
}

.card-small {
    min-height: 200px;
    border: 1px solid var(--ac3);
    border-radius: 5px;
    padding: 10px;
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    max-height: 400px;
    overflow-y: auto;
}