<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"
    defer></script>

  <link rel="stylesheet" href="/style/style.css" />
  <link rel="stylesheet" href="/style/colors.css">
</head>

<body class="bg1">
  <header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark prim1">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Thorén</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- The nav bar is created as following -->
        <!-- FUCKING REMEMBER THIS JOHANNES -->

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Portfolio
              </a>
              <ul class="dropdown-menu  bg2" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item fg1" href="/portfolio">Overview</a>
                </li>
                <li>
                  <a class="dropdown-item fg1" href="/portfolio/rust">Rust</a>
                </li>
                <li>
                  <a class="dropdown-item fg1" href="/portfolio/python">Python</a>
                </li>
                <li>
                  <a class="dropdown-item fg1" href="/portfolio/nodejs">NodeJS</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="content" class="bg2 fg1">
    <h1>Welcome!</h1>
    <p>
      Welcome to my site! this site contains my portfolio and blog (everything
      coded by me). On the blog i will talk about software development and my
      current projects. And in the portfolio you will find all my public
      projects. Down below you will find my latest blog post.
    </p>
    <% if (latest_post !=undefined) { %>
      <div id="latestBlogPost">
        <h2>Latest Blog Post</h2>

        <div class="card bg1">
          <div class="card-body">
            <h4 class="card-title">
              <%=latest_post.title%>
            </h4>
            <p class="card-text">
              <%= latest_post.description %>
            </p>
            <a href="blog/post/<%= latest_post._id %>" class="btn prim2 fg1">Read More</a>
          </div>

          <div class="card-footer prim1">
            <span class="small-text text-muted">
              <%=latest_post.date%>
            </span>
          </div>
        </div>
        <% } %>
      </div>
  </div>
</body>

</html>