body {
    margin: 0px;
}

#content {
    width: 80%;
    
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;

}

.card-footer {
    text-align: center
}

.small-text {
    font-size: 0.6em;
}