body {
    margin: 0px;
}

#content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 80%;
    
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;

}
.small-text {
    font-size: 0.6em;
}