body {
    margin: 0px;

}

.header {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    text-align: center;
}

.navbar  {
    text-align: center;
}