#content {
    width: 80%;
    /* border: 1px solid black; */
    margin: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 30px; 
}

.card {
    margin: 30px;
    border: 1px solid lightgray;
    /* box-shadow: 0 2px 10px 0 grey; */
    
}